{% extends "base.html.twig" %}

{% block title %}
    {{ category }} &middot; Category Tool by Matthewrbowker
{% endblock %}

{% block body %}
<H1>Reading score for {{ category }}</H1>
    {% if error != "" %}
        <div class="alert alert-danger">{{ error }}</div>
    {% else %}
    <a href="{{ path }}" class="btn btn-info">&lt; Return</a>
    <table class="table table-bordered">
        <tr>
            <th>
                Article Title
            </th>
            <th>
                <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests" target="_blank">Flesch–Kincaid Reading Ease</a>
            </th>
        </tr>
        {% for article,score in data %}
        <tr>
            <td>
                <a href="https://en.wikipedia.org/wiki/{{ article|replace({" ": "_"}) }}" target="_blank">{{ article }}</a>
            </td>
            <td>
                {{ score }}
            </td>
        </tr>
            {% endfor %}
    </table>
    {% endif %}
    <a href="{{ path }}" class="btn btn-info">&lt; Return</a>
{% endblock %}